:root {
    --font-color-black: #000000;
    --font-color-dark: #181818;
    --font-color-grey: #303030;
    --font-color-grey2: #B9BABF;
    --font-color-blue: #002AFE;
    --font-family: Arial, Helvetica, sans-serif;
}