/* Creating CSS file in VSCode instead of using visual GUI in Webflow — July 12th 2021, super proud of myself!*/


/* ----------------- 
    #BUTTONS
 ----------------- */
/* button */
.v3-button {
    display: inline-block;
    
    font-family: 'Cal custom', sans-serif;
    font-weight: 400;   
    text-decoration: none; 
    line-height: normal;  

    padding: 16px 32px;
    position: relative;
    width: 183px;
    height: 54px;
    border-radius: 4px;

    color: white;
    background-color: #002AFE;
}
.v3-button::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;

    background-color: rgba(230, 234, 255, 0.125);

    opacity: 0;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: opacity 0.175s ease-out;
}
.v3-button:hover::after {
    opacity: 1;
}
  
/* ----------------- 
    #TEXT
 ----------------- */

/* caption */
 .v3-caption {
    margin-bottom: 30px;

    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  
    color: #181818;
 }


/* ----------------- 
    #BREAKPOINTS
 ----------------- */

/* BREAKPOINT — Tablet — 991px wide and below */
@media screen and (max-width: 991px) {

}

/* BREAKPOINT — Mobile Landscape — 767px wide and below */
@media screen and (max-width: 767px) {

}

/* BREAKPOINT — Mobile Portrait — 479px wide and below */
@media screen and (max-width: 479px) {

}