/* Creating CSS file in VSCode instead of using visual GUI in Webflow — July 12th 2021, super proud of myself!*/

/* #NAVBAR & FOOTER */

.v3-navbar {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 48px 24px;

    position: fixed;
    z-index: 10;
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;
}
.v3-logo-w-menuframe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
}
.v3-logo {
    position: relative;
    align-self: flex-start;
    width: max-content;
    height: max-content;

    font-family: Test Söhne Breit;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-decoration: none;
    text-transform: uppercase;
    
    display: flex;
    align-items: center;
    
    color: #000000;
}
.v3-menuframe {
    /* menu-item_frame */

    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

    position: static;
    top: 0px;
}
.v3-menu-link {
    /* menu-link */
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Alt Medium */
    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    /* identical to box height */
    display: flex;
    align-items: top;
    text-transform: uppercase;

    color: #000000;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;
}

.v3-footerbar {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 48px;
    width: 100vw;

    position: static;
    z-index: 10;
    height: 80px;
    left: 0px;
    right: 0px;
    top: 0px;
}
.v3-copyright-w-socialframe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
}
.v3-copyright {
    position: relative;
    align-self: flex-start;
    width: max-content;
    height: max-content;

    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    display: flex;
    align-items: center;

    color: #000000;
}
.v3-socialframe {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;

    position: static;
    top: 0px;
}
.v3-social-link {
    /* menu-link */
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;

    color: #000000;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}
.v3-social-link-twitter {
    /* menu-link */
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;

    color: #000000;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}

/* #BUTTONS */

.v3-button {
    /* button */
    display: inline-block;

    font-family: 'Cal custom', sans-serif;
    font-weight: 400;
    text-decoration: none;
    line-height: normal;

    padding: 16px 32px;
    position: relative;
    width: 183px;
    height: 54px;
    border-radius: 4px;

    color: white;
    background-color: #002AFE;
}
.v3-button::after {
    /* button */
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;

    background-color: rgba(230, 234, 255, 0.125);

    opacity: 0;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: opacity 0.175s ease-out;
}
.v3-button:hover::after {
    /* button */
    opacity: 1;
}

/* #TEXT */

.v3-caption {
    /* caption */
    margin-bottom: 30px;

    font-family: Courier;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: #181818;
}

/* #CONTAINERS */

.v3-footer-con {
    /* footer con */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    max-width: 960px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    padding-bottom: 25vh;
}

/* #BREAKPOINTS*/

@media screen and (max-width: 991px) {

    /* TABLET — 991px wide and below */
    .v3-footer-con {
        width: 100%;
        margin-right: 60px;
        margin-left: 60px;
        padding-bottom: 120px;
    }
}

@media screen and (max-width: 767px) {

    /* MOBILE LANDSCAPE — 767px wide and below */
    .v3-footer-con {
        width: 85%;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 479px) {

    /* MOBILE PORTRAIT — 479px wide and below */
    .v3-footer-con {
        width: 100%;
        margin-right: 30px;
        margin-left: 30px;
        padding-bottom: 60px;
    }
    .v3-copyright-w-socialframe {
        flex-direction: column;
    }
}